<app-menu></app-menu>
    <div class="container card col-lg-6 mt-3">
    <form (ngSubmit) = "onSubmit()">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" [(ngModel)] = "contact.name" class="form-control" name="name" id="name" placeholder="Enter name">
        </div>

        <div class="form-group">
            <label for="name">Phone</label>
            <input type="number" [(ngModel)] = "contact.phone" class="form-control" name="phone" id="phone" placeholder="Enter phone">
          </div>

        
        <button type="submit" class="btn btn-primary">Update</button>
      </form>
    </div>